 .transaction {
     width: 60%;
     margin: auto;
   
 }

 .heading,.body {
     border: 1.5px solid grey;
     border-radius: 5px;
     padding: 20px;
     text-align: left;
     margin-top: 3%;
 }

 h3 {
    color: grey;
 }

 .buttons button {
    margin-top: 3%;
    color: black;
    border: 2px solid grey;
    margin: 15px;
 }

 .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 30%;
    margin: auto;
 }
